<section>
    <h1 class="text-center mt-3 fw-bold ">Found Items</h1>

  
   
    
     <div class="text-center ">
      
        <input type="text" placeholder="search by color" class="mx-auto w-50 me-1" [(ngModel)]="searchInput">
        <button (click)="searchLost()" class="search btn-main me-5">Search</button>
       
        <button class="mb-3 button2" routerLink="/main/reportfound">Report <img class="imgbutton img-fluid"
            src="./assets/images/f17a5f87d6505ab53012609e7a9c48b1.png" alt="logofound">
        </button>
     
     </div>
  

 
    <div class="container-fluid">
        <div class="row">
            @for (item of foundarray; track $index) {
                @if (item.isLost==false) {
                    <div class="col-md-4 col-sm-12 col-lg-3 p-5 cursor-pointer" [routerLink]="['/main/details',item.id]">
                        <div class="item rounded bg-light p-3 overflow-hidden">
                          <p class="mb-1"><b>Reporter Name:</b>{{item.reporterName}}</p>
                          <p><b>Flight Number:</b> {{item.flightNumber}}</p>
                          <div class="lost-img">
                              <img [src]="item.image" alt="" class="rounded">
                          </div>
                          <p><b>location:</b>{{item.location}} </p>
                          <p><b>color:</b>{{item.color}} </p>
                          <p><b>reporterPhone:</b>{{item.reporterPhone}} </p>
                          <p><b>Description:</b>{{item.description}}</p>
                           
                          <button class="btn-main w-50 d-block mx-auto mt-2" [routerLink]="['/main/details',item.id]">Show Details</button>
                        </div>
                      </div>
                }
             }
        </div>
    </div>
</section>
