<div class="container mt-5 ">
    <div class="row align-items-center">
        <div class="col-md-7 col-sm-12">
            <div class="item mt-5">
                <h1 class="fw-bold">find& <br>Recover <br><span class="with">With Ease</span></h1>
                <p>Experience effortless recovery with our dedicated lost and found service.</p>

            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <button class="d-block w-50 mb-3 button1" routerLink="/main/lost">Lost <img class="imgbutton img-fluid"
                    src="./assets/images/c7fe82ffdd3902d1b76a295ea3489752.png" alt="logolost"></button>
            <button class="d-block w-50 button2" routerLink="/main/found">Found <img class="imgbutton img-fluid"
                    src="./assets/images/f17a5f87d6505ab53012609e7a9c48b1.png" alt="logofound"></button>

            <div>
                <div class="item1 mt-5 position-relative">
                    <div class="image1">
                        <img src="../../../assets/images/d45252e880ac7e3e04735f62242e0548.jpeg" alt="">
                    </div>
                    <div class="image2">
                        <img src="../../../assets/images/14af18464d74a8b074793b8214883855.jpeg" alt="">
                    </div>
                    <div class="image3">
                        <img src="../../../assets/images/5d4bc72d611dd3627cc02d83ac821f3a.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>