h1{
    font-size: 90px;
}
.with{
    color: rgb(7, 79, 7);
}
.button1{
    color: white;
    font-size: 30px;
    font-weight: bold ;
    height: 80px;
    border: none;
    border-radius: 6px;
    background-image: linear-gradient(to right,#991313,#FF1F1F);
}
.button2{
    color: white;
    font-size: 30px;
    font-weight: bold ;
    height: 80px;
    border: none;
    border-radius: 6px;
    background-image: linear-gradient(to right,#00CB14,#00650A);
}
.imgbutton{
    width: 80px;
    transition: all 0.5s;

}

button:hover .imgbutton{
    width: 100px;
}
.item1 img{
    width: 200px;
    border-radius: 8px;
}


.image2{
    position: absolute;
    top: 50px;
    left: 100px;
  
}
.image3{
    position: absolute;
    top:0;
    left: 0;
 
}
.image1{
    position: absolute;
    top: 100px;
    left: 200px;

}
