<section class="pt-5 position-relative">
    <div class="container py-5 bg-light rounded-2 cont ">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-5 p-3">
                <div class="item">
                    <img [src]="DetailsArray.imagePath" class="img-fluid rounded-2" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-7 overflow-hidden">
                <h5 class="mb-3"><b>Reproter Name :</b> {{DetailsArray.reporterName}}</h5>
                <h5 class="mb-3"><b>Reporter Email :</b>{{DetailsArray.reporterEmail}}</h5>
                <h5 class="mb-3"><b>Reporter Phone :</b>{{DetailsArray.reporterPhone}}</h5>
                <h5 class="mb-3"><b>Report Date :</b>{{DetailsArray.reportDate}}</h5>
                <h5 class="mb-3"><b>Location : </b> {{DetailsArray.location}}</h5>
                <h5 class="mb-3"><b>Color : </b>{{DetailsArray.color}}</h5>
                <h5 class="mb-3"><b>Unique Marks :</b>{{DetailsArray.uniqueMarks}}</h5>
                <h5 class="mb-3"><b>Descriptoin :</b>{{DetailsArray.description}}</h5>
                <!-- @if (DetailsArray.isLost==false) { -->


                
        </div>
    </div>


    </div>
</section>
